asn1crypto==0.24.0
azure-common==1.1.23
azure-nspkg==3.0.2
azure-storage==0.36.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.7
dtool-azure==0.5.0
-e git+git@git.nbi.ac.uk:hartleym/dtool-utils.git@7d7470062f5a8835360f45c488316b9daca37ef0#egg=dtool_utils
dtoolcore==3.12.0
Flask==1.1.1
Flask-Cors==3.0.8
future==0.17.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pycparser==2.19
python-dateutil==2.8.0
requests==2.22.0
ruamel.yaml==0.16.1
ruamel.yaml.clib==0.1.2
six==1.12.0
tinydb==3.13.0
tuspy==0.2.4
urllib3==1.25.3
Werkzeug==0.15.5
